<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  
    <li>Pig Latinizer!</li>
    <form action="/" method="post">
    <li>Enter your phrase: <input type="text" name="user_phrase"></li>
    <input type="submit" value="submit"></form>

  </body>
</html>